* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    padding: 0 40px;
    border: 2px solid green;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 2px solid pink;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    color: #111111;
}

h1 {
    color: white;
    margin: 0;
    border: 2px solid yellow;
}

h1 a {
    color: white;
    text-decoration: none;
}