* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    padding: 0 40px;
    border: 2px solid green;
}

.nav-logo {
    color: white;
    margin: 0;
    border: 2px solid yellow;
}

.nav-logo a {
    color: white;
    text-decoration: none;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 2px solid pink;
}

.nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-menu li a:hover {
    color: #111111;
}


#hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    height: 500px;
    background-color: aqua;
}

.hero-content {
    border: 2px solid green;
}

.hero-heading {
    font-size: 42px;
    border: 2px solid red;
}

.hero-subheading {
    font-size: 24px;
    border: 2px solid red;
}

.hero-buttons-container {
    display: flex;
    align-items: left;
    gap: 30px;
    border: 2px solid yellow;
}

.hero-button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;

}

.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
}

.hero-cta-button {
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.hero-image {
    border: 2px solid red;
}

.hero-image img {
    width: 300px;
    height: 400px;
}